<div class="container loginbg">
  <br>
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
        </div>
      </div>
      <div class="card-body">
        <form action="/dashboard" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="input-group form-group">
            <input id="username" name="username" type="text" class="form-control" placeholder="username">
          </div>
          <div class="input-group form-group">
            <input name="password" id="password" type="password" class="form-control" placeholder="password">
          </div>

          <div class="form-group">
            <input type="submit" value="Login" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?<a href="#">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>